# API
BACKEND_HOST=0.0.0.0
BACKEND_PORT=15001

# База данных
DB_HOST=localhost
DB_PORT=15002

DB_DEFAULT_DATABASE=postgres
DB_DEFAULT_USERNAME=postgres
DB_DEFAULT_PASSWORD=postgres

DB_APP_DATABASE=app
DB_APP_USERNAME=app_user
DB_APP_PASSWORD=password

# ES
ES_HOST=localhost
ES_PORT=15003
ES_SUPERUSER_PASSWORD=password
ES_DOCUMENTS_INDEX_NAME=documents
ES_BLOGPOSTS_INDEX_NAME=blogposts
ES_SALES_INDEX_NAME=sales

# Ollama
OLLAMA_HOST=localhost
OLLAMA_PORT=15004
OLLAMA_MODEL="nomic-embed-text:v1.5"    # модель для создания эмбеддингов текста
OLLAMA_TOKENIZER="bert-base-uncased"    # токенайзер, используемый моделю
OLLAMA_TIMEOUT=120      # таймаут http-запросов в секундах
OLLAMA_BATCH_SIZE=10    # количество чанков текста, передаваемых за один запрос
OLLAMA_KEEP_ALIVE=5m    # время нахождения модели в RAM после последнего запроса
